.mail {
    width: 100%;
    margin-top: 50px;
    background-color: #ffbd59;
    color: #231f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.mailInputContainer>input {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.mailInputContainer>button {
    height: 50px;
    background-color: #231f1f;
    color: #ffbd59;
    font-weight: 50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}