.divContainer {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./grey-concrete-building-blue-sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #ffbd59;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #231f1f;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button:hover {
    background-color: #ffa159;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.divButtons {
    display: flex;
    width: 20vw;
    height: 40%;
    align-items: baseline;
    justify-content: space-evenly;

    align-items: center;
}

.paragrafo {
    font-size: 10px;
    cursor: pointer;
}

.divLogin {
    width: 40vw;
    max-width: 800px;
    height: 45vh;
    display: flex;
    color: #ffbd59;
    font-size: 16px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #231f1f;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.divLogin>span>input {
    height: 3vh;
    width: 30vh;
    border: none;
    border-radius: 0.5vh;
    padding: 5px;
    filter: none;
}

.divDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;


}

.divDireita>span>input {
    height: 3vh;
    width: 255px;
    border: none;
    border-radius: 0.5vh;
    padding: 5px;
    filter: none;
}

.divEsquerda {
    display: flex;
    width: 50%;
    height: 100%;
}

.divEsquerdaPequenaDireita {
    position: absolute;
    color: white;
    top: 430px;
    left: 610px;
    font-size: 40px;
}

.divEsquerdaPequena {
    width: 100%;
    height: 100%;
    background-image: url("./aaaa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    filter: blur(1px) grayscale(0.5) contrast(0.8) brightness(1) saturate(0.5);
}

.co {
    font-size: 70px;
    font-weight: 1000;
    color: #ffbd59;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hive {
    font-size: 70px;
    font-weight: 1000;
    color: #231f1f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffbd59;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}