.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredItem {
    flex: 1;
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;

}


.featuredItem:hover .featuredImg {
    transform: scale(1.05);
}

.featuredItem:hover {
    cursor: pointer;
    border-radius: 10px;
}

.featuredImg {
    width: 100%;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);


    transition: all 1.2s linear
}

.featuredTitles {
    position: absolute;
    bottom: 20px;
    left: 20px;
}