.navbar {
    height: 50px;
    background-color: #dea54b;
    display: flex;
    justify-content: center;
}

.navconteiner {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navbutton {
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #dea54b;
    background-color: white;
}