.navbar {
    background-color: #ffbd59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navconteiner {
    width: 100%;
    max-width: 1024px;
    color: #231f1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
    font-size: 30px;
}

.navbutton {
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
    cursor: pointer;
    color: #ffbd59;
    background-color: #231f1f;
}