.rList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.rListItem {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}

.rListImg {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
    transition: all 1.2s linear
}

.rListTitles>h1 {
    font-size: 18px;
}

.rListTitles>h2 {
    font-size: 14px;
    font-weight: 300;
}


.rListItem:hover .rListImg {
    transform: scale(1.05);
}

.rListImg:hover {
    cursor: pointer;
    border-radius: 10px;
}