.header {
    background-color: #ffbd59;
    color: #231f1f;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerDescription {
    margin: 20px 0px;
}

.headerSearch {
    height: 30px;
    background-color: white;
    border: 2px solid #231f1f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon {
    color: #231f1f;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    padding-top: 5px;
    border: none;
    outline: none;
}

.headerButton {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #231f1f;
    background-color: #ffbd59;
}

.headerSearchText {
    color: #231f1f;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 40px;
    border: #231f1f 2px solid;
    border-radius: 5px;
}