.header {
    background-color: #ffbd59;
    color: #231f1f;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 50px 0px;
}

.headerContainerlistMode {
    margin: 30px 0px 0px 0px;
}

.headerDescription {
    margin: 20px 0px;
}

.headerSearch {
    height: 50px;
    background-color: white;
    border: 2px solid #231f1f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.headerIcon {
    color: #231f1f;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    padding-top: 5px;
    border: none;
    outline: none;
}

.headerButton {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #231f1f;
    background-color: #ffbd59;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}

.headerSearchText {
    color: #231f1f;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 40px;
    border: #231f1f 2px solid;
    border-radius: 5px;
    z-index: 2;
}

.qtdPeople {
    position: absolute;
    margin-left: 501px;
    top: 40px;
    background-color: white;
    color: #231f1f;
    border: 2px solid #231f1f;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.optionQtdPeople {
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #231f1f;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: none;
    color: #231f1f;
    cursor: pointer;
    background-color: #ffbd59;
    border-radius: 5px;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}