.divDaDivDoSitio {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/ab/a0/08/aba0082636bd63e9f623f6a5c278d6d1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.divSitio {
    display: flex;
    margin-top: 63px;
    flex-direction: column;
    background-color: #231f1f;
    width: 1024px;
    height: 85vh;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

.cabeca {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    margin-top: 25px;

}

.titulo {
    align-self: baseline;
    margin-left: 30px;
    color: white;
}

.desc {
    display: flex;
    width: 50%;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    flex-direction: column;
}

.imagem {
    background-image: url("https://sitio.pt/cms/wp-content/uploads/2021/07/Sitio_Setubal__0299.jpg");
    width: 40%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;


}

.caixa {
    display: flex;
    flex-direction: column;
    background-color: #ffbd59;
    width: 87%;
    height: 50%;
    /*background-image: url("https://live.staticflickr.com/8702/16755474004_164ec28dca.jpg");
    background-size: contain;
    background-repeat: no-repeat;*/
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;

}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #231f1f;
    border-color: #231f1f;
    position: relative;
    display: inline-block;
}

.hexDiv {
    color: white;
    font-size: 15px;
    text-align: center;
}

.hex:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex:hover {
    background-color: #4d4444;
    border-color: #4d4444;

}

.caixaPequena {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;

}