.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex: 1;
    background-color: #231f1f;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.lsTitle {
    font-size: 20px;
    color: #ffbd59;
    margin-bottom: 10px;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label {
    font-size: 12px;
    color: #ffbd59;
}

.lsItem>input {
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.listResult {
    flex: 3;
}