.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animated {
    max-width: 60vw;
    transition: transform 500ms ease-out;
}

.active {
    transform: translateX(0px);
}