.divContainer {
    width: 100vw;
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./maisfacildecopiar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.divLogin {
    filter: none;
    width: 24vw;
    height: 70vh;
    display: flex;
    color: #ffbd59;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #231f1f;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.divLogin>span>input {
    height: 3vh;
    width: 40vh;
    border: none;
    border-radius: 0.5vh;
    padding: 5px;
    filter: none;
}

.button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #ffbd59;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #231f1f;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button:hover {
    background-color: #ffa159;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.divButtons {
    display: flex;
    width: 20vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px
}

.paragrafo {
    font-size: 10px;
    cursor: pointer;
}

.textarea {

    width: 359px;
    height: 70px;
    max-height: 70px;
    max-width: 359px;
    font-size: 12px;
    border-radius: 10px;
}

.divBotao {
    display: flex;
    justify-content: center;

}